
/**
 * Index:
 * 1. Body
 * 2. Header
 * 3. Content
 * 4. Sidebar
 * 5. Footer
 * 6. Nice Menus
 * 7. Admin
 */

html {
  direction: rtl;
}


/**
 * 1. Body
 */

/**
 * 2. Header
 */

#logo {
  float: left;
}

#header .links, #header .links li {
  float: right;
}

#header .links li {
  border-right: 1px solid #f07b55;
  border-left: none;
}
#header .links .last {
  border-left:  1px solid #f07b55;
}

#header .block {
  float: left;
}

/* search */

#header #search .form-text {
  float: right;
  border-right: 2px solid #B73F00;
  border-left: 0 none;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-box-shadow: inset #bbbbbb -2px 2px 2px;
  -webkit-box-shadow: inset #bbbbbb -2px 2px 2px;
}

#header #search .form-submit {
  float: right;
  border-left: 2px solid #B73F00;
  border-right: 0px none;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-box-shadow: inset #bbbbbb 2px 2px 2px;
  -webkit-box-shadow: inset #bbbbbb 2px 2px 2px;}


#subheader .links li {
  float: right;
  border: none;
  border-left: 1px solid #cccccc;
}

#subheader .links .first {
  border-right: 1px solid #cccccc;
}


#subheader .block {
  float: left;
}

/**
 * 3. Content
 */

/**
 * 4. Sidebar
 */

/* flip the sidebars */
.sidebar-right {
  margin: 0 0 0 200px;
}
.sidebar-left {
  margin: 0 200px 0 0;
}

#sidebar-right {
  float: left;
  margin: 0 0 0 -20px;
}

#sidebar-left {
  float: right;
  margin: 0 -20px 0 0;
}

/* keep lists within block */
.sidebar .block ul {
  margin: 0 15px 0 -10px;
}

/**
 * 5. Footer
 */

#footer {
  background-position: 15px top;
  padding: 0 0 10px 140px;
}
#footer .block {
  float: right;
}

/**
 * 6. Nice Menus
 */

/**
 * 7. Admin
 */
